* {
    border: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    font-family: 'Space Mono', monospace;
    --green: #26c0ab;
    --darkgreen: #00494d;
    --darkcyan: #5e7a7d;
    --powderblue: #7f9c9f;
    --skblue: #c5e4e7;
    --very-pale-blue: #f4fafa;
    --white: #ffffff;
    font-size: 16px;




}


body {
    background-color: var(--skblue);
    width: 100%;
    height: 100vh;


}

.logo {
    margin: calc(50rem/16) auto calc(41rem/16) auto;
    width: calc(87rem/16);
    height: calc(53.14rem/16);
    display: block;
}
h1{
    display: none;
}

main {
    content: "";
    height: 100%;
    max-width: 1100px;
    background-color: white;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px 25px 0px 0px;

}

.container {
    margin: 2rem auto;
    width: calc(100% - 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}


.labelandmessage{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
}
label {
    display: block;
    color: var(--darkcyan);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    
}

.errormessage{

margin-left:auto;
text-align:right;
color:red;
opacity:1;
font-weight: 700;
transition:opacity 0.5s ease; 
}

.errormessage.hidden, #total.hidden, #tipamount.hidden{
    opacity:0;
}

.inputarea {

    width: 100%;
    padding: 0 2rem 0 1rem;
    height: calc(48rem/16);
    text-align: right;
    background-color: var(--very-pale-blue);
    border:2px solid transparent;
    }

    .inputarea.focussed{
        border-color: var(--powderblue);
    }


input[type="text"]  {
    text-align: right;

    background-color: var(--very-pale-blue);
    color: var(--darkgreen);
    font-weight: bold;
    font-size: 1.5rem;

    display: inline-block;
    min-width: 0;
    width: calc(100% - 70px);
    height: 100%;
    margin-left: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
input:focus{
    border-color:transparent;
    box-shadow: transparent;
    outline: none;
}




.icon {
    vertical-align: top;
    height: 60%;
    top: 20%;
    width: 60px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

}

.dollaricon {
    background-image: url("./images/icon-dollar.svg");
}

.peopleicon {
    background-image: url("./images/icon-person.svg");
}



.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.button {

    flex: 1 1 calc(50% - 2rem);
    padding: .5rem;
    text-align: center;
    font-size: calc(24em/16);
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: var(--darkgreen);
    color: white;
    margin-left: 1rem;
    border-radius: 5px;
    transition:all .1s ease;
    user-select: none;
}
.button:hover{
    color:var(--green);
}

.button.pressed {
background-color:var(--skblue);
color:var(--darkgreen);

}
.button:nth-child(odd) {
    margin-left: 0;
}

.button:last-child{
    background-color: var(--very-pale-blue);
    color:var(--darkcyan);
    position:relative;
}

.button:last-child:hover{
   
    color:var(--darkgreen);
}



.custompercenthidden{
    display:none;
}

.custompercent{
position:absolute;
z-index: 3;
height:100%;
width:100%;
margin:0 auto;
top:0;
left:0;
margin:0;
padding:0;

}

.custompercent >input:focus{
    border: var(--powderblue) 2px solid;  
   }



output {
    background-color: var(--darkgreen);
    height:calc(260rem/16);
    margin:3rem 0;
    border-radius:15px;
}

.outrow {
       height:33%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1.5rem;
}

.outrow h2{
color:white;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
.outrow p{
font-weight: bold;
font-size: 13px;
line-height: 19px;
color:var(--skblue );
}

.outrow .result{
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    color:var(--green);
  }
  #tipamount, #total{
      transition:opacity 0.5s ease;
  }

.resetbutton{
    display:block;
    width:100%;
    background-color: var(--green);
    margin:0 auto;
    padding:.8em 0.2em;
    text-align: center;
    text-transform: uppercase;
   border-radius: 5px;
   color:black;
   font-size: 18px;
transition: all 0.5s ease;
user-select: none;
}
.resetbutton:hover{
    background-color: var(--skblue);
    font-weight: 900;
    color:black;
}





@media (min-width:600px){

body{
    height:auto;
}

.container{
    flex-direction: row;
    justify-content: space-between;
}
output{
    margin:1rem 0 0 3rem;
    align-self: stretch;
    height:auto;
}
main{
padding:0 0 1.5rem 0;

}


}






@media (min-width:1000px){

    body{
          height:auto;
    }
    main{
        width:90%;
        margin:0 auto 2rem auto;
    }
    
    .container{
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        padding:0 3rem;
 
    }
    .container > *{
        flex: 1 1 50%;
           }

.button{
    flex: 1 1 calc(33.3% - 2rem);
}
.button:nth-child(odd) {
    margin-left: 1rem;
}
.button:nth-child(1), .button:nth-child(4) {
    margin-left: 0;
}


    }